/unitraj/ckpt/
/unitraj/lightning_logs/
/unitraj/outputs/
/unitraj/tmp
.DS_Storeunitraj/cache/test/cosmos_l20_f2p5/0.h5
unitraj/cache/test/cosmos_l20_f2p5/1.h5
unitraj/cache/test/cosmos_l20_f2p5/10.h5
unitraj/cache/test/cosmos_l20_f2p5/11.h5
unitraj/cache/test/cosmos_l20_f2p5/12.h5
unitraj/cache/test/cosmos_l20_f2p5/13.h5
unitraj/cache/test/cosmos_l20_f2p5/14.h5
unitraj/cache/test/cosmos_l20_f2p5/15.h5
unitraj/cache/test/cosmos_l20_f2p5/16.h5
unitraj/cache/test/cosmos_l20_f2p5/17.h5
unitraj/cache/test/cosmos_l20_f2p5/18.h5
unitraj/cache/test/cosmos_l20_f2p5/19.h5
unitraj/cache/test/cosmos_l20_f2p5/2.h5
unitraj/cache/test/cosmos_l20_f2p5/20.h5
unitraj/cache/test/cosmos_l20_f2p5/21.h5
unitraj/cache/test/cosmos_l20_f2p5/22.h5
unitraj/cache/test/cosmos_l20_f2p5/23.h5
unitraj/cache/test/cosmos_l20_f2p5/3.h5
unitraj/cache/test/cosmos_l20_f2p5/4.h5
unitraj/cache/test/cosmos_l20_f2p5/5.h5
unitraj/cache/test/cosmos_l20_f2p5/6.h5
unitraj/cache/test/cosmos_l20_f2p5/7.h5
unitraj/cache/test/cosmos_l20_f2p5/8.h5
unitraj/cache/test/cosmos_l20_f2p5/9.h5
unitraj/unitraj_ckpt/mtr_real/epoch=70-val/brier_fde=0.61.ckpt
